* {
    font-size: 15px;
    font-family: 'Josefin Sans';
}

body {
    background-color: #002A47;
}

main {
    margin: 6em;
    box-shadow: 1px 2px 2px 1px #3D99A7;
    border-radius: 5px;
    padding: 4em;
    border-radius: 10px;
    background-color: #F8F8FF;
}

h1 {
    font-size: 50px;
    padding-bottom: 15px;
    color: #4F3030;
}

.formulario label {
    padding: 5px;
    text-align: left;
    height: 20px;
    font-size: 2em;
    color: #002A47;
    font-weight: bold;
}

.formulario input {
    padding-top: 10px;
    border-radius: 1px;
    border: none;
    border-bottom: 1px solid #6495ED;
    padding-left: 2px;
    background-color: #F8F8FF;
}

.formulario input:focus {
    width: 70%;
    height: 30px;
    border-radius: 1px;
    border: none;
    border-bottom: 1px solid #4F3030;
    outline: none;
}

.casas {
    height: 10em;
}

.w3-container a {
    display: block;
    border: 2px solid black;
    color: #002A47;
    box-shadow: 1px 2px 2px 1px #3D99A7;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.w3-container a:hover {
    box-shadow: 0px 2px 6px 3px #B5B5B5;
}

@media screen and (max-width: 480px) {
    .formulario {
        margin: 2em;
        margin-left: 1em;
        margin-right: 1em;
        background-color: #F8F8FF;
    }

    h1 {
        font-size: 6em;
    }
    h2{
        font-size: 2em;
    }

    .w3-container p{
        font-size: 1.5em;
    }
}